@import url('../../src/style/main.css');

html,
body,
.root,
iframe {
  width: 100%;
  height: 100%;
}

.text-post-container .text-post-footer li {
  margin-left: var(--container-padding);
}

.text-post-container .text-post-footer li:nth-child(n + 2) {
  margin-top: 8px;
}

.detail.v1 {
  font-size: 14px;
  padding: 16px;
  background-color: #f8f8f8;
}

.title.v1,
.item.v1 {
  font-weight: bold;
  margin: 8px;
}

.title.v1 {
  color: #222222;
}

.item.v1 {
  color: #666666;
}

.itemdesc.v1 {
  text-indent: 20px;
}

.ref.v1 {
  text-indent: -1.3em;
  padding-left: 1.3em;
}
