@import url('../../src/style/main.css');

html,
body,
.root {
  height: 100%;
}

.empty-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.empty-screen::before {
  content: '';
  flex: 1;
}

.empty-screen::after {
  content: '';
  flex: 2;
}

.empty-screen .empty-screen-text {
  margin-top: 16px;
}
