.app-state-container {
  position: fixed;
  z-index: 9999;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.app-state-container.active {
  visibility: visible;
  background-color: var(--pop-up-bg-color);
}

.app-state-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 32px;
  box-sizing: border-box;
}

.app-state-wrapper::before {
  content: '';
  flex: 1;
}

.app-state-wrapper::after {
  content: '';
  /* flex: 1.6; */
  flex: 1;
}

.app-state-wrapper.active {
  visibility: visible;
}

.modal-wrapper .single-btn-modal {
  opacity: 0;
  width: 125%;
  font-size: 20px;
  border-radius: 4px;
  background-color: var(--primary-color-white);
  box-shadow: 0 1px 3px 1px rgba(66, 66, 66, 0.2),
    0 2px 8px 4px rgba(66, 66, 66, 0.1);
  transition-property: opacity, width, font-size;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-wrapper .single-btn-modal > p {
  font-size: 1em;
  padding: 0em 1.5em;
  margin-top: 2em;
}

.modal-wrapper .single-btn-modal > p.font-link {
  margin-top: 1.25em;
  margin-bottom: 2em;
}

.modal-wrapper .single-btn-modal > button {
  display: block;
  color: var(--primary-color-blue);
  font-size: 1em;
  width: 100%;
  height: 3.25em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--primary-color-white);
  border: none;
  border-top: 1px solid var(--line-color);
}

.modal-wrapper .single-btn-modal.ios {
  border-radius: 14px;
  background-color: var(--pop-up-bg-color-ios);
}

.modal-wrapper .single-btn-modal.ios > button {
  color: var(--pop-up-text-color-ios);
  background-color: var(--pop-up-bg-color-ios);
  border-top: 1px solid var(--pop-up-line-color-ios);
}

.modal-wrapper.active .single-btn-modal {
  visibility: visible;
  opacity: 1;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
}

@keyframes ldio-s5ugu8dwj4l {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-wrapper .ldio-s5ugu8dwj4l div {
  left: 98.5px;
  top: 48px;
  position: absolute;
  background: #0056d0;
  animation: ldio-s5ugu8dwj4l linear 1s infinite;
  animation-play-state: paused;
  /* width: 6px; */
  /* height: 24px; */
  width: 5px;
  height: 11px;
  border-radius: 3px / 3.6px;
  transform-origin: 2px 18px;
}

.loading-wrapper.active .ldio-s5ugu8dwj4l div {
  animation-play-state: running;
}

.ldio-s5ugu8dwj4l div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.875s;
  background: #0056d0;
}
.ldio-s5ugu8dwj4l div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.75s;
  background: #0056d0;
}
.ldio-s5ugu8dwj4l div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.625s;
  background: #0056d0;
}
.ldio-s5ugu8dwj4l div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.5s;
  background: #0056d0;
}
.ldio-s5ugu8dwj4l div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.375s;
  background: #0056d0;
}
.ldio-s5ugu8dwj4l div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.25s;
  background: #0056d0;
}
.ldio-s5ugu8dwj4l div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.125s;
  background: #0056d0;
}
.ldio-s5ugu8dwj4l div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
  background: #0056d0;
}

.loadingio-spinner-spinner-bv4ofojvnw {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-s5ugu8dwj4l {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-s5ugu8dwj4l div {
  box-sizing: content-box;
}
