.list-board,
.drawer-board {
  list-style: none;
}

.list-board .item-header-container,
.drawer-board-item .item-header-container {
  position: relative;
  background-color: var(--primary-color-white);
}

.list-board .item-header-container::after,
.drawer-board-item .item-header-container::after {
  content: '';
  position: absolute;
  width: calc(100% - var(--board-item-padding-horizontal) * 2);
  height: 1px;
  bottom: 0px;
  left: var(--board-item-padding-horizontal);
  right: var(--board-item-padding-horizontal);
  background-color: var(--line-color);
}

.drawer-board-item .item-header-container::after {
  transition-property: left right width;
  transition-duration: var(--transition-duration-slow);
  transition-timing-function: var(--transition-timing-function);
}

.drawer-board-item.active .item-header-container::after {
  width: 100%;
  left: 0px;
  right: 0px;
}

.list-board .item-header-wrapper,
.drawer-board-item .item-header-wrapper {
  padding: var(--board-item-padding-vertical)
    var(--board-item-padding-horizontal);
}

.drawer-board-item .item-content-container {
  overflow: hidden;
  transition: height var(--transition-duration)
    var(--transition-timing-function);
}

.drawer-board-item .item-content-wrapper {
  text-overflow: clip;
  padding: var(--board-item-padding-vertical)
    var(--board-item-padding-horizontal);
  background-color: var(--bg-color-basic);
}

.drawer-board-item .item-content-container.item-dummy {
  width: 100%;
  position: fixed;
  top: -9999px;
  left: -9999px;
}
