.single-btn-modal-container {
  position: fixed;
  z-index: 9999;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 32px;
  box-sizing: border-box;
  align-items: center;
  background-color: var(--pop-up-bg-color);
  opacity: 0;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.single-btn-modal-container.active {
  opacity: 1;
  visibility: visible;
}

.single-btn-modal-container::before {
  content: '';
  flex: 1;
}

.single-btn-modal-container::after {
  content: '';
  flex: 1.6;
}

.single-btn-modal-container .single-btn-modal {
  width: 125%;
  font-size: 20px;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--primary-color-white);
  box-shadow: 0 1px 3px 1px rgba(66, 66, 66, 0.2),
    0 2px 8px 4px rgba(66, 66, 66, 0.1);
}

.single-btn-modal-container.active .single-btn-modal {
  transition-property: width font-size;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  width: 100%;
  font-size: 16px;
}

.single-btn-modal-container .single-btn-modal > p {
  font-size: 1em;
  padding: 32px 24px;
}

.single-btn-modal-container .single-btn-modal > button {
  display: block;
  color: var(--primary-color-blue);
  font-size: 1em;
  width: 100%;
  height: 3.25em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--primary-color-white);
  border: none;
  border-top: 1px solid var(--line-color);
}
