.text-post-container .text-post-header .header-subtitle {
  line-height: 1.5;
  margin-top: 4px;
}

.text-post-container li {
  margin-left: var(--container-padding);
}

.text-post-container .text-post-content {
  margin-top: 32px;
}

.text-post-container .text-post-content .content-item {
  margin-top: 16px;
  margin-left: 16px;
}

.text-post-container .text-post-content .content-item.depth-0,
.text-post-container .text-post-content .content-item.depth-1,
.text-post-container .text-post-content .content-item.depth-2 {
  margin-left: 0px;
}

.text-post-container .text-post-content .content-item-title {
  margin: 8px 0px;
}

.text-post-container .text-post-footer {
  margin-top: 40px;
}
