@import url('../../src/style/main.css');

html,
body,
.root {
  height: 100%;
}

.certification-input {
  margin-top: 32px;
}

.agree-terms-page .agree-terms-submit,
.certification-page .certification-submit {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
}

.certification-page .certification-input .resident-description {
  margin-top: 8px;
}

.certification-page .certification-input .secret-textfield-error {
  margin-bottom: 56px;
}

.term-detail iframe {
  border: none;
  width: 100%;
  height: 100%;
}
